.container {
    width: 290px;
    margin: 0 auto;
    outline: solid red 1px;
    position: relative;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-top: 36px;

}

.lex_logo {
    color: #00000079;
}

.for_hdr_flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
}

.modal {
    display: none;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 200px;
    height: 300px;
    background-color: rgb(192, 192, 192);
}

.checkbox {
    display: none;
}

.label_burger {
    cursor: pointer;
}

.checkbox:checked~.modal {
    display: block;
}

.burger {
    margin-top: 46px;

}

.line_burger1 {
    width: 33.53px;
    height: 3.35px;
    background: #39515E;
    border-radius: 1px;
    margin-bottom: 4.5px;
}

.line_burger2 {
    width: 33.53px;
    height: 3.35px;
    background-color: #39515E;
    border-radius: 1px;
    margin-bottom: 4.5px;
}

.line_burger3 {
    width: 23.72px;
    height: 3.35px;
    background-color: #39515E;
    border-radius: 1px;
    margin-bottom: 4.5px;
}

.img_hello {
    padding-bottom: 16px;
}

.learn_languages {
    font-size: 24px;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
}

.first_sketch {
    color: #8F95A5;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding-bottom: 35px;
}

.get_started {
    background-color: #263238;
    width: 289px;
    height: 60px;
    display: block;
    padding-left: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.h_skills {
    font-size: 24px;
    line-height: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 32px;
}

.section_of_skills {
    background: #F5F5F5;
    border-radius: 5px;
    width: 290px;
    margin-bottom: 21px;
}

.img_inside_div_1 {
    margin-top: 8px;
    display: block;
    margin: 0 auto;
    padding-top: -100px;
}

.div_for_img {
    margin-top: -9px;
}

.div_for_img_2 {
    margin-top: 8px;
}

.div_for_img_3 {
    margin-top: 22px;
}

.div_for_img_4 {
    margin-top: 30px;
}

.mini_h {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 80px;
    padding-top: 10px;
    padding-left: 13px;
    padding-bottom: -3px;
}

.text_inside_div_1 {
    font-size: 13px;
    line-height: 19.5px;
    color: #8F95A5;
    display: block;
    margin: 0;
    padding-left: 16px;
}

.text_inside_div_2 {
    padding-top: 30px;
    font-size: 13px;
    line-height: 19.5px;
    color: #8F95A5;
    margin: 0;
    padding-left: 16px;
}

.learn_more {
    margin-left: 16px;
    width: 178px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #263238;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    margin-bottom: 45px;
    margin-top: 35px;
}

.about_us {
    font-size: 24px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 24px;

}

.everest {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 23px;

}

.the_biggest_p {
    color: #8F95A5;
    line-height: 19.5px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
}

.num_800 {
    color: #2A3246;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* line-height: 80px; */
}

.pupils {
    color: #8F95A5;
    line-height: 22.5px;
    /* padding-top: -30px; */
    /* margin-top: -30px; */
}

ul {
    list-style: none;
    padding: 0;
}

.hvastovstvo {
    display: flex;
    gap: 65px;
    flex-direction: column;
    /* display: block; */
    text-align: center;
    padding-bottom: 110px;
}

.num_18 {
    color: #2A3246;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.teachers {
    color: #8F95A5;
    line-height: 22.5px;
}

.num_6 {
    color: #2A3246;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.languages {
    color: #8F95A5;
    line-height: 22.5px;
}

.price {
    font-size: 24px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 72px;
    padding-bottom: 24px;
}

.laptop_en_yan {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 28px;
}

.online_course {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    display: block;
    font-size: 18px;
    padding-bottom: 17px;
}

.starting_learning_english {
    display: block;
    text-align: center;
    color: #8F95A5;
    font-size: 13px;
    margin: 0;
    padding-bottom: 35px;
}

.link_for_smth {
    background-color: #EEEEEE;
    width: 170px;
    display: flex;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.price_link {
    display: block;
    color: #263238;
    font-size: 18px;

}

.after_price {
    display: block;
    padding-left: 15px;
    margin-top: 2px;
    color: #546269;
    font-size: 13px;
}

.online_course_2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    display: block;
    font-size: 18px;
    padding-bottom: 25px;
}

.two_man_lesson {
    margin-bottom: 12px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.expert_teachers {
    color: #8F95A5;
    font-size: 13px;
    text-align: center;
    padding-bottom: 35px;
    margin: 0;
}

.zoom {
    margin-top: 7px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.enjoy_lesson_by_1_dlr {
    display: block;
    text-align: center;
    color: #8F95A5;
    font-size: 13px;
    margin: 0;
    padding-bottom: 38px;
}

.contact_us {
    line-height: 80px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    padding-bottom: 38px;
}

.paper_plane {
    padding-bottom: 38px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.discover_ur_english_lvl {
    font-size: 13px;
    text-align: center;
    color: #8F95A5;
    margin: 0;
    padding-bottom: 31px;
}

.enter {
    width: 291px;
    outline: 1px solid #8F95A5;
    border-radius: 5px;
    height: 50px;
    border: none;
    padding-left: 41px;
}

.enter::placeholder {
    font-size: 13px;
    color: #8F95A5;
}

.subscribe {
    background-color: #263238;
    color: #fff;
    width: 290px;
    height: 60px;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.line {
    background-color: #C4C4C4;
    height: 1px;
    width: 290px;
    margin-top: 57px;
    margin-bottom: 26px;
}

.logo_end {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-bottom: 15px;
}

.lust_word_3 {
    position: relative;
    color: #8F95A5;
    font-size: 11px;
}

.lust_word_2 {
    color: #8F95A5;
    font-size: 11px;
    position: relative;
}

.the_lust_word {
    font-size: 11px;
    color: #8F95A5;
}

.lust_word_3::after {
    content: '';
    display: block;
    position: absolute;
    top: 5.5px;
    left: 112px;
    width: 3px;
    background-color: #8F95A5;
    height: 3px;
    border-radius: 50%;
}

.lust_word_2::after {
    content: '';
    display: block;
    position: absolute;
    top: 5.5px;
    left: 74px;
    width: 3px;
    background-color: #8F95A5;
    height: 3px;
    border-radius: 50%;
}

.for_lust_verbs {
    display: flex;
    justify-content: space-around;
    padding-bottom: 46px;
}

.br_tablet {
    display: none;
}

/* .div_for_mini_h {
    display: none;
} */

@media  (min-width: 575px) and (max-width: 766px) {
    .container {
        width: 510px;
        margin: 0 auto;
        outline: solid rgb(43, 255, 0) 1px;
        position: relative;
    }
    
    .logo {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        padding-top: 36px;
    
    }
    
    .lex_logo {
        color: #00000079;
    }
    
    .for_hdr_flex {
        display: flex;
        justify-content: space-between;
        padding-bottom: 27px;
    }
    
    .modal {
        display: none;
        position: absolute;
        top: 70px;
        left: 50px;
        width: 200px;
        height: 300px;
        background-color: rgb(192, 192, 192);
    }
    
    .checkbox {
        display: none;
    }
    
    .label_burger {
        cursor: pointer;
    }
    
    .checkbox:checked~.modal {
        display: block;
    }
    
    .burger {
        margin-top: 46px;
    
    }
    
    .line_burger1 {
        width: 42.35px;
        height: 4.24px;
        background: #39515E;
        border-radius: 1px;
        margin-bottom: 4.5px;
    }
    
    .line_burger2 {
        width: 42.35px;
        height: 4.24px;
        background-color: #39515E;
        border-radius: 1px;
        margin-bottom: 4.5px;
    }
    
    .line_burger3 {
        width: 29.96px;
        height: 4.24px;
        background-color: #39515E;
        border-radius: 1px;
        margin-bottom: 4.5px;
    }
    
    .img_hello {
        padding-bottom: 17px;
        max-width: 100%;
        height: auto;
    }
    
    .learn_languages {
        font-size: 34px;
        margin: 0;
        text-align: center;
        padding-bottom: 26px;
        line-height: 45px;
        /* display: flex; */
    }

    .br {
        display: none;
    }
    
    .first_sketch {
        color: #8F95A5;
        text-align: center;
        font-size: 16px;
        margin: 0;
        padding-bottom: 35px;
    }

    .first_sketch_br {
        display: none;
    }
    
    .get_started {
        background-color: #263238;
        width: 305px;
        height: 75px;
        display: block;
        padding-left: 50px;
        border: none;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    
    .h_skills {
        font-size: 24px;
        line-height: 80px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-transform: capitalize;
        text-align: center;
        padding-top: 96px;
        padding-bottom: 34px;
    }

    .ul_of_skills {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .section_of_skills {
        background: #F5F5F5;
        border-radius: 5px;
        width: 240px;
        height: 534px;
        /* margin-bottom: 21px; */
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 36px;
    }
    
    .img_inside_div_1 {
        width: 185px;
        margin-top: 8px;
        display: block;
        margin: 0 auto;
    }
    
    .mini_h {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        line-height: 80px;
        margin-top: -6px;
        padding-left: 13px;
        /* padding-bottom: -3px; */
    }

    .div_for_mini_h {
        margin-top: -9px;
    }
    
    .text_inside_div_1 {
        font-size: 12px;
        line-height: 19.5px;
        color: #8F95A5;
        display: block;
        margin: 0;
        padding-left: 16px;
        margin-top: -5px;
    }
    
    .text_inside_div_2 {
        padding-top: 27px;
        font-size: 13px;
        line-height: 19.5px;
        color: #8F95A5;
        margin: 0;
        padding-left: 16px;
    }
    
    .learn_more {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: #263238;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        /* align-items: flex-end; */
        margin: 0;
    }
    
    .about_us {
        font-size: 30px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        padding-top: 50px;
        padding-bottom: 24px;
    
    }
    
    .everest {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 23px;
    
    }
    
    .the_biggest_p {
        color: #8F95A5;
        line-height: 19.5px;
        font-size: 13px;
        text-align: center;
        padding-bottom: 50px;
        margin: 0;
    }
    
    .num_800 {
        color: #2A3246;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        /* line-height: 80px; */
    }
    
    .pupils {
        color: #8F95A5;
        line-height: 22.5px;
        /* padding-top: -30px; */
        /* margin-top: -30px; */
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    .hvastovstvo {
        display: flex;
        gap: 65px;
        flex-direction: column;
        /* display: block; */
        text-align: center;
        padding-bottom: 110px;
    }
    
    .num_18 {
        color: #2A3246;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    
    .teachers {
        color: #8F95A5;
        line-height: 22.5px;
    }
    
    .num_6 {
        color: #2A3246;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    
    .languages {
        color: #8F95A5;
        line-height: 22.5px;
    }
    
    .price {
        font-size: 24px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 72px;
        padding-bottom: 24px;
    }
    
    .laptop_en_yan {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 28px;
    }
    
    .online_course {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        display: block;
        font-size: 18px;
        padding-bottom: 17px;
    }
    
    .starting_learning_english {
        display: block;
        text-align: center;
        color: #8F95A5;
        font-size: 13px;
        margin: 0;
        padding-bottom: 35px;
    }
    
    .link_for_smth {
        background-color: #EEEEEE;
        width: 170px;
        display: flex;
        justify-content: center;
        padding-top: 9px;
        padding-bottom: 9px;
        text-align: center;
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    
    .price_link {
        display: block;
        color: #263238;
        font-size: 18px;
    
    }
    
    .after_price {
        display: block;
        padding-left: 15px;
        margin-top: 2px;
        color: #546269;
        font-size: 13px;
    }
    
    .online_course_2 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        display: block;
        font-size: 18px;
        padding-bottom: 25px;
    }
    
    .two_man_lesson {
        margin-bottom: 12px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    .expert_teachers {
        color: #8F95A5;
        font-size: 13px;
        text-align: center;
        padding-bottom: 35px;
        margin: 0;
    }
    
    .zoom {
        margin-top: 7px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    .enjoy_lesson_by_1_dlr {
        display: block;
        text-align: center;
        color: #8F95A5;
        font-size: 13px;
        margin: 0;
        padding-bottom: 38px;
    }
    
    .contact_us {
        line-height: 80px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        padding-bottom: 38px;
    }
    
    .paper_plane {
        padding-bottom: 38px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    .discover_ur_english_lvl {
        font-size: 13px;
        text-align: center;
        color: #8F95A5;
        margin: 0;
        padding-bottom: 31px;
    }
    
    .enter {
        width: 291px;
        outline: 1px solid #8F95A5;
        border-radius: 5px;
        height: 50px;
        border: none;
        padding-left: 41px;
    }
    
    .enter::placeholder {
        font-size: 13px;
        color: #8F95A5;
    }
    
    .subscribe {
        background-color: #263238;
        color: #fff;
        width: 290px;
        height: 60px;
        margin-top: 17px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .line {
        background-color: #C4C4C4;
        height: 1px;
        width: 290px;
        margin-top: 57px;
        margin-bottom: 26px;
    }
    
    .logo_end {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        padding-bottom: 15px;
    }
    
    .lust_word_3 {
        position: relative;
        color: #8F95A5;
        font-size: 11px;
    }
    
    .lust_word_2 {
        color: #8F95A5;
        font-size: 11px;
        position: relative;
    }
    
    .the_lust_word {
        font-size: 11px;
        color: #8F95A5;
    }
    
    .lust_word_3::after {
        content: '';
        display: block;
        position: absolute;
        top: 5.5px;
        left: 112px;
        width: 3px;
        background-color: #8F95A5;
        height: 3px;
        border-radius: 50%;
    }
    
    .lust_word_2::after {
        content: '';
        display: block;
        position: absolute;
        top: 5.5px;
        left: 74px;
        width: 3px;
        background-color: #8F95A5;
        height: 3px;
        border-radius: 50%;
    }
    
    .for_lust_verbs {
        display: flex;
        justify-content: space-around;
        padding-bottom: 46px;
    }
}